In [1]:
rm(list=ls())
library(LalRUtils)
load_or_install(c('tidyverse','data.table','magrittr','lfe','devtools'))

[[1]]
[1] TRUE

[[2]]
[1] TRUE

[[3]]
[1] TRUE

[[4]]
[1] TRUE

[[5]]
[1] TRUE

# Linear Algebra

In [2]:
(X = rbind(c(1,4,5),c(10,2,3)))
(Y = rbind(c(2,3),c(1,5), c(3,5)))
X %*% Y

     [,1] [,2] [,3]
[1,]  1   4    5
[2,] 10   2    3

     [,1] [,2]
[1,] 2    3
[2,] 1    5
[3,] 3    5

     [,1] [,2]
[1,] 21   48
[2,] 31   55

In [3]:
(X = rbind(c(2,3,4), c(3,1,3), c(2,4,2)))
(X_inv = solve(X))
X %*% X_inv

     [,1] [,2] [,3]
[1,] 2    3    4
[2,] 3    1    3
[3,] 2    4    2

     [,1] [,2] [,3]
[1,] -0.5  0.5  0.25
[2,]  0.0 -0.2  0.30
[3,]  0.5 -0.1 -0.35

     [,1] [,2] [,3]
[1,] 1    0    -2.22e-16
[2,] 0    1     0.00e+00
[3,] 0    0     1.00e+00